.btn{
    background-color: var(--color-grey-333);
    color: var(--color-white);
    font-size: 24px;
    font-family: Arial;
    font-weight: 800;
    border: 0;
    padding: 24px;
    cursor: pointer;
    &--secondary{
        background: var(--color-primary);
    }
    &--s{
        padding: 10px;
        font-size: 18px;
    }
}
