
// .c-gallery-characters {

// }

.c-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    &--right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    &--left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    // 4px 13px 9px 17px

  
