.c-character-card {

    cursor: pointer;


    &__image {
      // width: 120px;
      width: 100%;
      border-radius: 50%;
      border: 6px solid;
      box-sizing: border-box;
    }
    // &_image-wrap{

    // }
    &__text{
      text-align: center;
      font-size: 24px;
      margin: 20px 0px;
  }
  &__item{
    cursor: pointer;
}
  }


  .b-image-frame{
    width: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
