.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 18px;

    &__user {
        display: flex;
        align-items: center;

        p {
            margin-right: 20px;
        }
    }

    a {
        margin-right: 16px;
        text-decoration: none;
        color: inherit;
    }
}
