:root{
  --color-primary: #11B0C8;
  --color-white: #FFFFFF;
  --color-grey-333: #333333;
  --color-background: #bbf6ff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
  color: var(--color-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body[data-theme='light']{
  --color-primary: #11B0C8;
  --color-white: #FFFFFF;
  --color-grey-333: #333333;
  --color-background: #bbf6ff;
}

body[data-theme='dark']{
  --color-primary: rgb(173, 165, 255);
  --color-white: #333333;
  --color-grey-333: #FFFFFF;
  --color-background: #333333;
}


.c-gallery {
  display: grid;
  margin: 0px 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2vw;
  row-gap: 4vw;
}


.b-btn{
  background-color: var(--color-grey-333);
  color: var(--color-white);
  font-size: 24px;
  font-family: Arial;
  font-weight: 800;
  border: 0;
  padding: 24px;
  cursor: pointer;
  &--secondary{
      background: var(--color-primary);
  }
  &--s{
      padding: 10px;
      font-size: 18px;
  }
  &--arrow-left{
    padding: 5px 13px 8px 17px;
  }
  &--arrow-right{
    padding: 5px 17px 8px 13px;
  }
}

// @import './styles/settings/colors.settings';

// @import '~bootstrap/scss/bootstrap-grid';

// @import './styles/elements/body.elements';
// @import './styles/blocks/btn.blocks';
// @import './styles/blocks/input.blocks';
// @import './styles/blocks/image-frame.blocks';
